<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Francisco Garcia</h1>
		<p>Welcome to My blog.</p><br>
		<p>This week I built a blog in Rails 4.</p>
		<p>find me on Twitter <a href="https://twitter.com/soontobeGM">@soontobeGM</a> </p>
	</div>
</div>