<div id="post_content">
<h1 class="title">
	<%= @post.title %>

</h1>

<p class="date">
	Submitted <%= time_ago_in_words(@post.created_at) %> Ago
	<% if user_signed_in? %>
	| <%= link_to 'Edit', edit_post_path(@post) %>
	| <%= link_to 'Delete', post_path(@post), method: :Delete, data: { confirm: 'Esta seguro?' } %>
	<% end %>
</p>

<p class="body">
	<%= @post.body %>
</p>
<div id="comments">
	<h2>
		<%= @post.comments.count %> Comments
	</h2>
	<%= render @post.comments %>

	<h3> Add a comment:</h3>
	<%= render "comments/form" %>
</div>
</div>